@page "/hexagon"
@using Excubo.Blazor.Canvas
@using Excubo.Blazor.Canvas.Contexts
@using BlazorExperiments.UI.Shared

@inject IJSRuntime JS

<CanvasComponent Id="tetris"
                 Initialize="Initialize"
                 LoopAsync="Loop"
                 @ref="_canvas">
</CanvasComponent>

<div class="d-grid">
    <div class="row">
        <div class="flex">
            <label for="lines-count">Count: </label>
            <span>@Count</span>
        </div>
        <input id="lines-count" type="range" min="1" max="1000" @bind="Count" @bind:after="Initialize" />
    </div>

    <div class="row">
        <div class="flex">
            <label for="lines-count">Line Length: </label>
            <span>@Len</span>
        </div>
        <input id="line-length" type="range" min="2" max="100" @bind="Len" @bind:after="Initialize" />
    </div>
</div>