<div id="snake_container" tabindex="0"
     @onkeydown="HandleInput"
     @ontouchstart="HandleTouchStart"
     @ontouchmove="HandleTouchMove"
     class="@_snakeClass"
     @ref="_container">
    <Excubo.Blazor.Canvas.Canvas id="snake_canvas"
                                 width="@_width"
                                 height="@_height"
                                 class="@_snakeClass"
                                 @ref="_canvas"></Excubo.Blazor.Canvas.Canvas>
</div>

@code {
    [CascadingParameter]
    protected int possibleGameSize { get; set; }
    private string _snakeClass;
}
