@inject IJSRuntime JS

<img id="snake-img" src="img/snake.png" hidden />
<CanvasComponent Id="snake"
                 Initialize="InitializeGame"
                 LoopAsync="GameLoopAsync"
                 HandleKeyDown="HandleInput"
                 HandleTouchStart="HandleTouchStart"
                 HandleTouchMove="HandleTouchMove"
                 @ref="_canvas">
</CanvasComponent>

Show FPS <input type="checkbox" @bind="_showFps" />

<div class="row">
    <p>Canvas Width: @_canvas?.Width</p>
    <p>Canvas Height: @_canvas?.Height</p>
    <p>Cells Per Row: @_canvas?.CellsPerRow</p>
    <p>Cell Size: @_canvas?.CellSize</p>
</div>

@code {
    bool _showFps = false;

    protected override async Task OnInitializedAsync()
    {
        var isMobile = await JS.InvokeAsync<bool>("isMobile");
        _canvas.CellsPerRow = 30;
        if (isMobile)
        {
            _canvas.CellsPerRow = 10;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("eval", "snakeImg = document.getElementById('snake-img')");
    }
}