<div id="snake_container" tabindex="0"
     @onkeydown="HandleInput"
     @ontouchstart="HandleTouchStart"
     @ontouchmove="HandleTouchMove"
     @ref="_container">
    <Canvas id="snake_canvas"
            width="400"
            height="400"
            @ref="_canvas"></Canvas>
</div>