@using System.Text.Json
@using BlazorExperiments.UI.Services;
@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeAsync<object>("browserResize.registerResizeCallback");
    }
}